Different parsing of the same absolute IRI with or without base IRI

Not sure if it is already tracked elsewhere.

Let's consider the following Turtle file (note the dot segment):
```turtle
<http://example.com/foo/./bar> <http://example.com/bar> 1 .
```

If no base IRI is set then Turtle does not normalize IRIs leading to the NTriple:
```turtle
<http://example.com/foo/./bar> <http://example.com/bar> 1 .
```

Whowever, if a base IRI is set, then `http://example.com/foo/./bar` can be considered as a relative IRI reference (it matches the given grammer) and must be resolved against it using [RFC 3986 relative URI transformation](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.2) that removes dot segments, leading to the `http://example.com/foo/bar` IRI and the following NTriple:
```turtle
<http://example.com/foo/bar> <http://example.com/bar> 1 .
```

According to [RFC3986 4.1 URI Reference](https://datatracker.ietf.org/doc/html/rfc3986#section-4.1):

> A URI-reference is either a URI or a relative reference.  If the
   URI-reference's prefix does not match the syntax of a scheme followed
   by its colon separator, then the URI-reference is a relative
   reference.

`http://example.com/foo/./bar` does match a scheme followed by its colon separator, so is not a relative reference.

[RFC3987 2.2 ABNF for IRI References and IRIs](https://www.rfc-editor.org/rfc/rfc3987#section-2.2) and [RDF Concepts IRI Grammar](https://www.w3.org/TR/rdf12-concepts/#iri-abnf) describe an IRI-reference as `IRI-reference  = IRI / irelative-ref` but `relative-ref` does not permit an relative reference starting with a scheme and colon.

```abnf
irelative-part = "//" iauthority ipath-abempty
               / ipath-absolute
               / ipath-noscheme
               / ipath-empty
```

I don't really see the ambiguity.

@gkellogg I was about to make the exact same answer, but then I checked RFC3986 and the resolution algorithm :-/

```

      -- The URI reference is parsed into the five URI components
      --
      (R.scheme, R.authority, R.path, R.query, R.fragment) = parse(R);

      # (...) skipping irrelevant stuff

     if defined(R.scheme) then
         T.scheme    = R.scheme;
         T.authority = R.authority;
         T.path      = remove_dot_segments(R.path);    <-- THERE BE DRAGONS
         T.query     = R.query;
      else
         # ...
```

So even if the URI reference is nor relative (it has a scheme), its path part is supposed to be processed :-/

Yes, the resolution algorithm does work on "a URI reference that _might_ be relative to a given base URI", so it does not restrict itself to `irelative-ref`.

In [2.4 IRIs](https://www.w3.org/TR/rdf12-turtle/#sec-iri) we talk about resolving Relative IRI references using the base IRI. Also, the `IRIREF` [Term Constructor](https://www.w3.org/TR/rdf12-turtle/#sec-parsing-terms) uses the base IRI only for Relative IRI references. Even though RFC3986/7 describes using the resolution algorithm on anything that might be a relative IRI, Turtle only invokes this for relative IRI references.

Thank you for your feedback.

It seems to me that here the key is the definition of "relative IRI reference". If I am not mistaken is not defined in RFC3886/7 and in the [RDF concept note that introduces it](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri) we do not define it properly. Hence it is imho unclear if it only matches only the productions of `irelative-ref` or all productions of `IRI-reference  = IRI / irelative-ref`. I assumed the second but if I understand properly, @gkellogg you assume the first (please correct me if I am wrong).

The way forward here is maybe to properly define "relative IRI reference" as the set of relative IRIs produced by `irelative-ref` inside of RDF concepts.

We would still keep the behavior that `//example.com/foo/./bar` is resolved into `http://example.com/foo/bar` against `http://example.com` base (following relative IRI resolution algorithm) but `http://example.com/foo/./bar` will be kept unchanged.

> Hence it is imho unclear if it only matches only the productions of `irelative-ref` or all productions of `IRI-reference = IRI / irelative-ref`. I assumed the second but if I understand properly, [@gkellogg](https://github.com/gkellogg) you assume the first (please correct me if I am wrong).

Yes, I think the definition of `relative IRI reference` in RDF Concepts should be updated to bind it to the `relative-ref` production. Turtle should also have a note or non-normative sentence that clarifies that IRI Expansion is only performed for IRIREFs that are relative IRI references, and not full IRIs.

The Turtle document says:

> [IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs, [Relative IRI references](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri), or [prefixed names](https://www.w3.org/TR/rdf12-turtle/#dfn-prefixed-name).

and both "resolved IRIs" and "Relative IRI references" will cause `.` and `..` to be sorted out.

> So even if the URI reference is not relative (it has a scheme), its path part is supposed to be processed :-/

I have always been under the impression that this the case. 

> [IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs, [Relative IRI references](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri), or [prefixed names](https://www.w3.org/TR/rdf12-turtle/#dfn-prefixed-name).

If I understand this sentence correctly it means that IRIs that cannot be the output of the resolution algorithm are not valid in Turtle and so the IRIs valid in Turtle are not all the possible productions of the `IRI` non terminal of RFC3987 grammar but a subset of them (for example `http://example.com/foo/./bar` is not valid in Turtle). Hence, some IRIs that are valid according to RDF concepts can't be serialized in Turtle. This sounds a bit sad to me.

[RDF Concepts](https://www.w3.org/TR/rdf12-concepts/#section-IRIs) already says:

> An IRI in the RDF abstract syntax MUST be [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) per [[RFC3986](https://www.w3.org/TR/rdf12-concepts/#bib-rfc3986)]

In fact, any IRI can be serialized, but reading it will resolve it. Outside of RDF, this happens as well e.g. browsers.

When I parse `<http://example.com/foo/./bar> <http://example.com/bar> "1"^^<http://www.w3.org/2001/XMLSchema#integer> .` as Turtle using `http://example.org/` as the base IRI, I get the same thing back. This is because my code checks to see if it is a resolved or relative IRI and only does IRI resolution for relative IRIs. I believe this is correct, and I think there are tests for this.

> [IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs, [Relative IRI references](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri), or [prefixed names](https://www.w3.org/TR/rdf12-turtle/#dfn-prefixed-name).

> In fact, any IRI can be serialized, but reading it will resolve it.

Aren't the two statements in contradiction? Some IRIs can't be the output of the resolution algorithm (eg. `http://example.com/foo/./bar`) so can't be written as "resolved IRI" if I understand this term properly.

Also, it seems like a big foot-gun to me that one can write a Turtle file without any relative IRIs and get back after parsing it an RDF graph that is not isomorphic to the written one.

My implementation does the same thing as @gkellogg's one and only do IRI resolution for relative IRIs.

Are there tests? I didn't see any resolution tests in rdf/rdf11 to cover this case.

IRI-resolution-01.ttl	has a related comment 

```
## Two answers:
## RDF 3986 section 5.2.2
## Strict resolving: <http:g>
## Non-strict resolving: <http://a/bb/ccc/g>

## <urn:ex:s042> <urn:ex:p> <http:g>.
```
because RDF 3986 allows two modes.


Some material from RFC 3986 (it's scattered across the RFC):

https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2.3

>   The complete path segments "." and ".." are intended only for use
   within relative references ([Section 4.1](https://datatracker.ietf.org/doc/html/rfc3986#section-4.1)) and are removed as part of
   the reference resolution process ([Section 5.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2)).  However, some
   deployed implementations incorrectly assume that reference resolution
   is not necessary when the reference is already a URI and thus fail to
   remove dot-segments when they occur in non-relative paths.  URI
   normalizers should remove dot-segments by applying the
   remove_dot_segments algorithm to the path, as described in
   [Section 5.2.4](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4).

relative references only occur when there is no scheme.
But the grammar shares "path" from both "hier-part" and "relative-part" and those two rules have the same definition .

https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3
> All URI references are parsed by generic syntax parsers when used.
   However, because hierarchical processing has no effect on an absolute
   URI used in a reference unless it contains one or more dot-segments
   (complete path segments of "." or "..", as described in [Section 3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3)),

and https://datatracker.ietf.org/doc/html/rfc3986#section-3.3 "Path" 

> The path segments "." and "..", also known as dot-segments, are
   defined for relative reference within the path name hierarchy.  They
   are intended for use at the beginning of a relative-path reference
   ([Section 4.2](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2)) to indicate relative position within the hierarchical
   tree of names.

Another relevant part of RFC 3986 is:
https://datatracker.ietf.org/doc/html/rfc3986#section-6.1

> In testing for equivalence, applications should not directly compare
> relative references; the references should be converted to their
> respective target URIs before comparison.

so any meaning is the same.

At some point, the URI has to be sorted out, whether that is parser or use time, is left open ("murky") probably because RFC 3986 is carefully written given URI history from 2396.
(There is no "relative URI" - that was in 2396, but isn't in 3986. "relative reference" is closest.)

[Section 5](https://datatracker.ietf.org/doc/html/rfc3986#section-5) is "Reference Resolution"
"A URI reference must be transformed to its target URI before it can be normalized.

[Section 5.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2) "Relative Resolution" might on the surface allow not resolving but it says:

> This section describes an algorithm for converting a URI reference
> that might be relative to a given base URI into the parsed components
> of the reference's target.

That "might" is somewhat significant.


I didn't know that dot segments are intended for use only at the start of `relative-ref`. The `rdf/rdf11` tests are affected.

Conclusion: both are resolving and not resolving are reasonable - there is text beyond the grammar.



I might observe that, in practice, `https://example.org/fred/wilma/../../barney/` has been known to bring my browsers to `https://example.org/barney/`, and even `https://example.org/../../barney/` has been known to bring my browsers to the `barney` directory two filesystem levels up from the server's `https://example.org/` root. At some point it was helpful to me be able to use this structure.

I believe that I observed (and made use of) this behavior in multiple browsers and versions. I cannot provide a definitive list but it likely included Firefox, Chrome, Safari, IE (pre-Edge), and Opera. At a guess of timeframe, I'd say I was actively using this "feature" 5-10 years ago.

Was you say there was a "bug" in the HTTP browser(s)? the HTTP server(s)? Something else?

> Aren't the two statements in contradiction?

Not really, writing does not have to a "resolved IRI".

[RDF Concepts, section IRIs](https://www.w3.org/TR/rdf12-concepts/#section-IRIs):

> An IRI in the RDF abstract syntax MUST be [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) per [[RFC3986](https://www.w3.org/TR/rdf12-concepts/#bib-rfc3986)] and MUST NOT be a [relative reference](https://www.rfc-editor.org/rfc/rfc3986#section-4.2).

Section5:
> This section defines the process of resolving a URI reference within
   a context that allows relative references so that the result is a
   string matching the <URI> syntax rule of [Section 3](https://datatracker.ietf.org/doc/html/rfc3986#section-3).

URI reference is "URI or relative-ref".
The context does allows relative references.

This is quite complicated and in practical terms systems will not follow the absolutely strictest reading. We need to be relaxed.

The strictest interpretation is that dot segments should only be in a relative-ref at the start.

There are already, by RFC 3986, two choices for `http:g`.


> Was you say there was a "bug" in the HTTP browser(s)? the HTTP server(s)? Something else?

No - when you type into the address bar the browser helpfully does various things to the string (e.g. trim spaces, %-encoding) to make a URL for an HTTP request. Some changes are written back to the address bar, some it does not.

A server needs to find the target of the URI ("target" being RFC 3986 language) so it is doing URI processing as well.

> has been known to bring my browsers to the barney directory two filesystem levels up from the server's https://example.org/ root

That's naughty! Outside the site subtree - security problem.

RFC 3986 covers this. if `..` goes up too far, it has no effect.

Base: `http://example/abc`, 
URI: `../..` 
is `http://example/`
by [5.2.4 Remove Dot Segments](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4).  




> Not really, writing does not have to a "resolved IRI".

Yes, I agree this is what we should aim for but in this case I think we need to remove the "resolved" word from <q>[IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs, [Relative IRI references](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri), or [prefixed names](https://www.w3.org/TR/rdf12-turtle/#dfn-prefixed-name).</q>

> This is quite complicated and in practical terms systems will not follow the absolutely strictest reading. We need to be relaxed.

Yes! But it would be great to have at least a suggested approach for Turtle (and maybe other RDF syntaxes) to ease interoperability just like there is a suggested approach on the web with WHATWG URL standard. I guess we are nearly there with something like "do not touch absolute IRIs and follow RFC3986 section 5 for non-absolute IRI references without further normalization".

> URI reference is "URI or relative-ref".

Yes! However, I agree with [this comment](https://github.com/w3c/rdf-turtle/issues/89#issuecomment-2737449139) that suggest to redefine "_relative_ IRI reference" to cover only `relative-ref` non terminal (if I am not mistaken "relative IRI reference" is not defined by a RFC but only by RDF Concepts)

"relative IRI reference" - see [RFC 3986 1.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3).
which gets to [RFC 3986 4.2](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2).

> I think we need to remove the "resolved" word from [IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs, [Relative IRI references](https://www.w3.org/TR/rdf12-concepts/#dfn-relative-iri), or [prefixed names](https://www.w3.org/TR/rdf12-turtle/#dfn-prefixed-name).

What about `<http:./xyz>`?

RFC 3986 is about multiple names for the same resource. RDF does some basic processing to make different-string/same-thing. It is allowed by an RFC 3986 URI processor.

(RDF 1.1 is unhelpful as it uses the language from the prior RFC, 3296).

We could survey handling.

But very strictly `http://example.com/foo/./bar` does not follow [3.3 Path](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3).  While 3.3 does not out-right band them but does say:

> The path segments "." and "..", also known as dot-segments, are
   defined for relative reference within the path name hierarchy.  They
   are intended for use at the beginning of a relative-path reference
   ([Section 4.2](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2)) to indicate relative position within the hierarchical
   tree of names.


From https://github.com/w3c/rdf-concepts/issues/169#issuecomment-2738145869

My reading of the `IRIREF` rule as it stands today is that it can produce illegal IRIs in other ways.
It never says "legal IRI". (One might read "to form the IRI" to mean more than "take the characters as given.")

e.g. `<http://example/path#frag#frag>`

If a change for this issue is necessary, fixing IRIREF to catch this as well is less change.


> "relative IRI reference" - see [RFC 3986 1.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-1.2.3).

Thank you! I missed that. If I understand this well, it seems it only covers non-absolute IRI, backing the https://github.com/w3c/rdf-concepts/issues/169 change proposal.

> My reading of the IRIREF rule as it stands today is that it can produce illegal IRIs in other ways.

Yes, definitely. I have the assumption that we restrict it to IRIs valid according to RFC 3987 anyway.

> If a change for this issue is necessary, fixing IRIREF to catch this as well is less change.

Yes! I would still add the clarification to know if resolution algorithm MUST (or SHOULD?) be used or not on absolute IRIs, because it seems from this discussion it was not clear at all.

> > My reading of the IRIREF rule as it stands today is that it can produce illegal IRIs in other ways.
> 
> Yes, definitely. I have the assumption that we restrict it to IRIs valid according to RFC 3987 anyway.

We could probably just reference the IRI Grammar in RDF Concepts from the IRIREF production and say that resulting IRIs MUST conform to that grammar (even though it's in ABNF, not EBNF).

> > If a change for this issue is necessary, fixing IRIREF to catch this as well is less change.
> 
> Yes! I would still add the clarification to know if resolution algorithm MUST (or SHOULD?) be used or not on absolute IRIs, because it seems from this discussion it was not clear at all.

We are conflating two issues: the potential to accept illegal IRIs and the restriction on using the resolution algorithm only for Relative IRI References.

Let's see where we are:

What do you get for:

[Turtle-IRI.ttl.txt](https://github.com/user-attachments/files/19427853/Turtle-IRI.ttl.txt)

(any more cases to include?)

```
PREFIX : <http://example/>

BASE <http://example/a/b/>

:s01 :p <../xyz> .
:s02 :p <../../xyz> .
:s03 :p <http:../xyz> .
:s04 :p <http:../../xyz> .
:s05 :p <http:bar> .

BASE <http://example/a/>

:s11 :p <../xyz> .
:s12 :p <../../xyz> .
:s13 :p <http:../xyz> .
:s14 :p <http:../../xyz> .
:s15 :p <http:bar> .


BASE <http://example/a/../b/>

:s21 :p <xyz> .
:s22 :p <./xyz> .
:s23 :p <../xyz> .
:s24 :p <../../..xyz> .
:s25 :p <http:../../../xyz> .
:s26 :p <http:bar> .

BASE <http://example/a/b/>

:s91 :p <[[> .
:s92 :p <http:[[> .
:s93 :p <http://abc/[[> .
```



Let's see where we are. What do you get for:

[Turtle-IRI.ttl.txt](https://github.com/user-attachments/files/19428078/Turtle-IRI.ttl.txt)

```
PREFIX : <http://example.org/>

BASE <http://example/a/b/>

:s01 :p <../xyz> .
:s02 :p <../../xyz> .
:s03 :p <http:../xyz> .
:s04 :p <http:../../xyz> .
:s05 :p <http:bar> .
:s06 :p <//host:80/bar> .

BASE <http://example/a/>

:s11 :p <../xyz> .
:s12 :p <../../xyz> .
:s13 :p <http:../xyz> .
:s14 :p <http:../../xyz> .
:s15 :p <http:bar> .

BASE <http://example/a/../b/>

:s21 :p <xyz> .
:s22 :p <./xyz> .
:s23 :p <../xyz> .
:s24 :p <../../..xyz> .
:s25 :p <http:../../../xyz> .
:s26 :p <http:bar> .

BASE <http://example/a/b/>

:s31 :p <[[> .
:s32 :p <http:[[> .
:s33 :p <http://abc/[[> .

BASE <http://example/a/b/>

:s41 :p <http://ex/path#frag#frag> .
:s42 :p <http:path#frag#frag> .
:s43 :p <http:path#frag#frag> .
```


Here are the results using Oxigraph 0.4.9:

```turtle
<http://example.org/s01> <http://example.org/p> <http://example/a/xyz> .
<http://example.org/s02> <http://example.org/p> <http://example/xyz> .
<http://example.org/s03> <http://example.org/p> <http:../xyz> .
<http://example.org/s04> <http://example.org/p> <http:../../xyz> .
<http://example.org/s05> <http://example.org/p> <http:bar> .
<http://example.org/s06> <http://example.org/p> <http://host:80/bar> .
<http://example.org/s11> <http://example.org/p> <http://example/xyz> .
<http://example.org/s12> <http://example.org/p> <http://example/xyz> .
<http://example.org/s13> <http://example.org/p> <http:../xyz> .
<http://example.org/s14> <http://example.org/p> <http:../../xyz> .
<http://example.org/s15> <http://example.org/p> <http:bar> .
<http://example.org/s21> <http://example.org/p> <http://example/a/../b/xyz> .
<http://example.org/s22> <http://example.org/p> <http://example/a/../b/xyz> .
<http://example.org/s23> <http://example.org/p> <http://example/a/../xyz> .
<http://example.org/s24> <http://example.org/p> <http://example/a/..xyz> .
<http://example.org/s25> <http://example.org/p> <http:../../../xyz> .
<http://example.org/s26> <http://example.org/p> <http:bar> .
Parsing error: Parser error between at line 33 between columns 9 and column 13: Invalid IRI code point '['
Parsing error: Parser error between at line 34 between columns 9 and column 18: Invalid IRI code point '['
Parsing error: Parser error between at line 35 between columns 9 and column 24: Invalid IRI code point '['
Parsing error: Parser error between at line 39 between columns 9 and column 35: Invalid IRI code point '#'
Parsing error: Parser error between at line 40 between columns 9 and column 30: Invalid IRI code point '#'
Parsing error: Parser error between at line 41 between columns 9 and column 30: Invalid IRI code point '#'
```

RDF.rb (with rdf-turtle) gives the following:

```ttl
<http://example.org/s01> <http://example.org/p> <http://example/a/xyz> .
<http://example.org/s02> <http://example.org/p> <http://example/xyz> .
<http://example.org/s03> <http://example.org/p> <http:../xyz> .
<http://example.org/s04> <http://example.org/p> <http:../../xyz> .
<http://example.org/s05> <http://example.org/p> <http:bar> .
<http://example.org/s06> <http://example.org/p> <http://host:80/bar> .
<http://example.org/s11> <http://example.org/p> <http://example/xyz> .
<http://example.org/s12> <http://example.org/p> <http://example/xyz> .
<http://example.org/s13> <http://example.org/p> <http:../xyz> .
<http://example.org/s14> <http://example.org/p> <http:../../xyz> .
<http://example.org/s15> <http://example.org/p> <http:bar> .
<http://example.org/s21> <http://example.org/p> <http://example/b/xyz> . # Differs from Oxygraph
<http://example.org/s22> <http://example.org/p> <http://example/b/xyz> . # Differs from Oxygraph
<http://example.org/s23> <http://example.org/p> <http://example/xyz> .   # Differs from Oxygraph
<http://example.org/s24> <http://example.org/p> <http://example/..xyz> . # Differs from Oxygraph
<http://example.org/s25> <http://example.org/p> <http:../../../xyz> .
<http://example.org/s26> <http://example.org/p> <http:bar> .
```

Tests without a comment are identical to Oxygraph. s31-43 generate an error. (Note, that s42 and s43 are identical tests).

s21-24 are interesting as they touch on the issue @TallTed brought up, and should definitely be the focus of some additional tests.

Apache Jena, in default mode, passes illegal IRIs with a warning (which can be set to be error and stop).
This is for validation of large data files - one bad IRI does not stop parsing.
The underlying IRI parser can be tried at https://www.sparql.org/iri-validator.html. It is a non-strict parser by [5.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.2).

```turtle
<http://example.org/s01> <http://example.org/p> <http://example/a/xyz> .
<http://example.org/s02> <http://example.org/p> <http://example/xyz> .
<http://example.org/s03> <http://example.org/p> <http://example/a/xyz> .
<http://example.org/s04> <http://example.org/p> <http://example/xyz> .
<http://example.org/s05> <http://example.org/p> <http://example/a/b/bar> .
21:45:51 WARN  riot            :: [line: 10, col: 9 ] Unwise IRI: <http://host:80/bar> Default port 80 should be omitted
<http://example.org/s06> <http://example.org/p> <http://host:80/bar> .
<http://example.org/s11> <http://example.org/p> <http://example/xyz> .
<http://example.org/s12> <http://example.org/p> <http://example/xyz> .
<http://example.org/s13> <http://example.org/p> <http://example/xyz> .
<http://example.org/s14> <http://example.org/p> <http://example/xyz> .
<http://example.org/s15> <http://example.org/p> <http://example/a/bar> .
<http://example.org/s21> <http://example.org/p> <http://example/b/xyz> .
<http://example.org/s22> <http://example.org/p> <http://example/b/xyz> .
<http://example.org/s23> <http://example.org/p> <http://example/xyz> .
<http://example.org/s24> <http://example.org/p> <http://example/..xyz> .
<http://example.org/s25> <http://example.org/p> <http://example/xyz> .
<http://example.org/s26> <http://example.org/p> <http://example/b/bar> .
21:45:51 WARN  riot            :: [line: 31, col: 9 ] Bad IRI: <[[> : [Posn 1] Bad character in IRI path: '[' (U+005B)
<http://example.org/s31> <http://example.org/p> <[[> .
21:45:51 WARN  riot            :: [line: 32, col: 9 ] Bad IRI: <http:[[> : [Posn 6] Bad character in IRI path: '[' (U+005B)
<http://example.org/s32> <http://example.org/p> <http:[[> .
21:45:51 WARN  riot            :: [line: 33, col: 9 ] Bad IRI: <http://abc/[[> : [Posn 12] Bad character in IRI path: '[' (U+005B)
<http://example.org/s33> <http://example.org/p> <http://abc/[[> .
21:45:51 WARN  riot            :: [line: 37, col: 9 ] Bad IRI: <http://ex/path#frag#frag> : Bad character in fragment component: # (U+0023)
<http://example.org/s41> <http://example.org/p> <http://ex/path#frag#frag> .
21:45:51 WARN  riot            :: [line: 38, col: 9 ] Bad IRI: <http:path#frag#frag> : Bad character in fragment component: # (U+0023)
<http://example.org/s42> <http://example.org/p> <http:path#frag#frag> .
21:45:51 WARN  riot            :: [line: 38, col: 9 ] Bad IRI: <http:path#frag#frag> : Bad character in fragment component: # (U+0023)
<http://example.org/s43> <http://example.org/p> <http:path#frag#frag> .


> Whowever, if a base IRI is set, then `http://example.com/foo/./bar` can be considered as a relative IRI reference

It does not seem to be a relative IRI under https://www.ietf.org/rfc/rfc3986.html#section-4.2, because it is not a valid expansion of `relative-part`, i.e., it is none of `"//" authority path-abempty`, `path-absolute`, `path-noscheme`, `path-empty`. Instead, it follows `URI`, with its token being `scheme`.

> it matches the given grammer

Which production rule would it match?

Hence, given

> Relative IRIs are resolved with base IRIs as per [Uniform Resource Identifier (URI): Generic Syntax](http://www.ietf.org/rfc/rfc3986.txt) [[RFC3986](https://www.w3.org/TR/turtle/#bib-RFC3986)]
—https://www.w3.org/TR/turtle/#sec-iri-references

I don't think the _if_ condition is satisfied, so no resolution should take place.

So I don't think the premise of this issue is valid, and I think the existing specification text is clear.

While the Turtle specification may be technically correct, I don't think it draws enough attention to correctly handling IRI references at the moment.

Intuitively, I would have assumed that the handling of IRI references in Turtle documents behaves the same as the handling of URI references in HTML: A URI reference is always resolved against the current base URI, regardless of whether it matches the `URI` or `relative-ref` production.

The different treatment of IRI references in Turtle depending on whether they match the `IRI` or `irelative-ref` production is relatively well hidden in the specification text at the moment; you have read really carefully to notice that only *relative* IRI references are resolved relative to the current base IRI. If you miss just that one word, you've already got it wrong. And the treatment differs so significantly from the treatment of URI references in HTML that I would have suspected a bug in the Turtle specification text rather than that this different treatment was actually intended. (Frankly, without this discussion, I would have missed this subtlety entirely.)

IMHO it would be very helpful for readers if the Turtle specification would highlight this much more, e.g., by saying that IRI references that match the `IRI` production MUST NOT be resolved, and by including a list of examples of IRI references and resolved outcomes directly in the document.

> While the Turtle specification may be technically correct, I don't think it draws enough attention to correctly handling IRI references at the moment.

I agree, this has bitten us in the past. We had quite some fun in 2015: https://lists.w3.org/Archives/Public/public-rdf-comments/2015Aug/ You'll see some (not me back then) claim that the spec is clear, and others (me included) pointing out the disagreement among implementations, indicating an apparently lack of clarity.

This lead me to https://github.com/rdfjs/N3.js/blob/v1.24.2/test/N3Parser-test.js#L2701-L3128, and I still manage to confuse myself to this day.

Some assertions:

* An N-Triples document parsed with a Turtle parser should produce the same triples that an N-Triples parser would produce.
* N-Triples does not invoke any form of IRI normalization, as the IRIREF production is intended only for non-relative IRIs (resolved IRIs or absolute IRIs, we have yet to come up with a good name).
* In the absence of a URI base declaration in the document location RFC3986 uses the document location as the default base.

Consequently, to be consistent:

* A Turtle/TriG parser _must not_ resolve IRIREF productions to the document base unless they match `relative-reference`, which would would need to define in RDF Concepts.
* The RDF data model already restricts IRIs to be valid, and we might clarify that parsers generating triples with IRIs must all be valid according to RFC3987.


An alternative that is consistent with the assertions but more closely matches the usual expectations for URI/IRI references in hypertext documents:

* A Turtle/TriG/N-Triples parser MUST resolve all IRI references against the current base IRI.
* All IRI references in an N-Triples document MUST be idempotent under reference resolution. So it would be an error if an N-Triples document contained an IRI reference with dot segments, such as `<http://example/a/../b/>`.

Firstly - I'm not against (one of) the other sets of outcomes above.

There is a pipeline "grammar" -> "IRI handling/filtering" -> "RDF Abstract data model".
What is the output  of parsing? After the first step or after the second?

If we want 'perfect' at the parser level to generate good RDF IRIs, I don't think we can simply rely on RFC 3986.

RFC 3986 has it's own history, characteristics and terminology, but also RDF itself has some requirements.

RDF Concepts:
> An IRI in the RDF abstract syntax MUST be [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) per [[RFC3986](https://www.w3.org/TR/rdf12-concepts/#bib-rfc3986)] and MUST NOT be a [relative reference](https://www.rfc-editor.org/rfc/rfc3986#section-4.2). 

What is a "resolved IRI"? It's some kind of well behaved IRI, improving on the text in RDF 1.1.

`http:abc`, for RDF purposes, is not helpful because it's meaning is sensitive to the context in which it is used to access a linked data resource.

`//host/path`, which is a `relative-ref`, does not parse the same in N-Triples and Turtle.

I believe we need a concept that expresses the requirements for RDF i.e. it is the contract.
Maybe cal this an "RDF Reference".

Part of "RDF Reference" would be general syntactic form but it would also express the intent so that proper IRIs for RDF can be defined for any scheme.

In RFC 3986 terms, "RDF Reference" for HTTP would be:

```
scheme ":" "//" authority path-abempty [ "?" query ] [ "#" fragment ]
```
but that does not work for DIDs or URNs which are special cases of `path-rootless`.

```
scheme ":" path-rootless [ "?" query ] [ "#" fragment ]
```
- the requirements are schema-specific.

```
scheme ":" rdf-path [ "?" query ] [ "#" fragment ]

rdf-path = "//" authority path-absempty
         / path-rootless
```
which has overtones of RDF 1.1 use of "absolute". In RDF 1.1, `urn:/abc` is, sort-of, forbidden.

> An N-Triples document parsed with a Turtle parser should produce the same triples that an N-Triples parser would produce.

The way to achieve that is restrict N-triples `IRIREF`.

https://github.com/w3c/rdf-turtle/issues/89#issuecomment-2784030304 is an interesting possibility.


Re-reading the N-Triples specification, I just noticed that it [currently says](https://w3c.github.io/rdf-n-triples/spec/#sec-iri):

> [IRIs](https://www.w3.org/TR/rdf12-concepts/#dfn-iri) may be written only as [resolved](https://www.rfc-editor.org/rfc/rfc3986#section-5) IRIs. IRIs are preceded by [<](https://w3c.github.io/rdf-n-triples/spec/#cp-less-than) and followed by [>](https://w3c.github.io/rdf-n-triples/spec/#cp-greater-than), and may contain numeric escape sequences (described below). For example &lt;http:\//example.org/#green-goblin&gt;.

"resolved" here links to the "Reference Resolution" section of RFC 3986, so a "resolved IRI" apparently refers to an IRI that is the output of IRI reference resolution. This means it cannot be a relative IRI reference such as `<//host/path>` or an IRI with dot segments such as `<http://example/a/../b/>` (because reference resolution removes dot segments).

So it seems N-Triples already mandates that all IRI References are idempotent under reference resolution. A Turtle/TriG parser resolving a "resolved IRI" against a base IRI will always yield the same IRI as a N-Triples parser that does nothing, as long as all IRI references in the N-Triples document are indeed "resolved IRIs" as required by the spec.

You could mandate that a N-Triples validates any IRI reference to be a "resolved IRI" (e.g., by resolving it against any base IRI and checking if the output is unchanged). However, I'd put the onus of validating IRI references on the document producer, i.e., a parser MAY simply assume that all IRI references in a N-Triples document are "resolved IRIs" *("garbage in, garbage out")*.

With N-Triples out of the way, I would then just resolve all IRI references in Turtle/TriG documents. A Turtle/TriG parser parsing an N-Triples document would do some unnecessary work (all the IRI references are already resolved), but would produce the same IRIs as an N-Triples parser (as long as all IRI references in the N-Triples document are indeed "resolved IRIs", as required by the spec).

![Image](https://github.com/user-attachments/assets/827599b5-49ab-468c-a8d1-667b1647d0f0)

(omitting RDF term construction)

IIRC, we used “resolved IRI” because “absolute IRI” was problematic. Concepts does not require any notion of IRI resolution, just that the IRIs are valid and not relative. 

Changing N-Triples to require fully processed IRIs (I.e., without dot segments) is not backwards compatible, and I’m sure there is data in the wild that just takes the IRIs matching the production and uses them, presumably after making sure they are RFC3987 valid. 

> Note that this text about "resolved IRIs" was already present in RDF 1.1, but in a note, it was not normative. Currently, it has become normative in RDF 1.2.

IiRC, i suggested using "resolved IRI" as we couldn't use "absolute". This was not ment to indicate that the IRI was necessarily the result of using the resolution algorithm, but had the form that we think of as absolute.

This should be resolved before CR because it interacts with an issue on N-Triples that is marked with ms:CR.

Depends on:
* https://github.com/w3c/rdf-concepts/issues/223
* https://github.com/w3c/rdf-concepts/issues/169

The current text has been updated and looks suitable. It is aligned with NT/NQ and Trig.

Mentioned [in the WG meeting of 2025-11-20](https://www.w3.org/2025/11/20-rdf-star-minutes.html#48cf).